@font-face {
	font-family: 'Gotham Rounded';
	src: url('fonts/GothamRounded-Bold.woff2') format('woff2'),
		url('fonts/GothamRounded-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('fonts/GothamRounded-Light.woff2') format('woff2'),
		url('fonts/GothamRounded-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url('fonts/GothamRounded-Book.woff2') format('woff2'),
		url('fonts/GothamRounded-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0 auto;
  font-family: Gotham Rounded, sans-serif;
  padding-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 0 40px;
  grid-template-areas: ". content content content content .";
}

.grid-video {
  margin-top: 50px;
  align-items: center;
  grid-template-areas: "video video video benefits benefits benefits";
}

.grid-benefit-detail {
  margin-top: 4rem;
}

.grid-video video {
  grid-area: video;
  width: 100%;
  max-width: 900px;
}

.content {
  grid-area: content;
  max-width: 1000px;
  width: 100%;
}

.dark-header {
  background-color: #005681;
  color: white;
  position: relative;
  z-index: 1;
}

.light-header {
  color: white;
  background-color: #00AAFF;
  padding-top: 500px;
  margin-top: -500px;
}

.brand-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: .5rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
}

.dark-header-divider {
  background-image: url("images/dark-background.svg");
  height: 150px;
  margin-top: -5px;
  background-position: bottom left;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.light-header-divider {
  background-image: url("images/light-background.svg");
  height: 150px;
  margin-top: -5px;
  background-position: bottom left;
  background-size: cover;
}

.email-form {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.email-form input {
  background-color: white;
  color: #005681;
  border: 2px solid black;
  border-radius: .5em;
  padding: .5em 1em;
  margin-right: 1em;
  outline: none;
  flex-grow: 1;
}

.email-form input:focus {
  background-color: #DCF3FF;
}

.email-form button {
  color: white;
  background-color: #111;
  border: 2px solid white;
  border-radius: .5em;
  padding: .5em 1em;
  max-width: 250px;
  cursor: pointer;
}

.email-form button:hover, .email-form button:focus {
  background-color: #333;
}

.benefits-section {
  grid-area: benefits;
  margin-left: 3rem;
  justify-self: flex-start
}

.benefit {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.benefit img {
  height: 3rem;
  margin-right: 2rem;
}

.benefit-detail {
  grid-column: span 2;
  margin: 2rem;
}

.benefit-detail-title {
  text-align: center;
  font-size: 1.75rem;
  color: #333;
  margin-bottom: 2rem;
}

.benefit-detail-text {
  font-size: 1.5rem;
  color: #444;
  font-weight: lighter;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }

  .grid-video {
    grid-template-columns: 1fr;
    grid-template-areas: "video" "benefits";
  }

  .grid-video video {
    justify-self: center;
  }

  .grid-benefit-detail {
    grid-template-columns: repeat(6, 1fr);
  }

  .benefits-section {
    margin-top: 2rem;
    margin-left: 0;
    justify-self: center;
  }
}

@media (max-width: 1000px) {
  .grid-benefit-detail {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .email-form {
    flex-direction: column;
  }

  .email-form button {
    max-width: initial;
    width: 100%;
  }

  .email-form input {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .benefit {
    font-size: 2rem;
  }

  .benefit img {
    height: 2rem;
    margin-right: 1rem;
  }
}

@media (max-width: 500px) {
  .brand-name {
    display: none;
  }

  .logo {
    margin-top: 1rem;
  }

  .email-form {
    margin: 0;
    font-size: 1.25rem;
  }

  .benefit {
    font-size: 1.25rem;
  }

  .benefit img {
    height: 1.25rem;
    margin-right: .5rem;
  }

  .benefit-detail-title {
    font-size: 1.25rem;
  }

  .benefit-detail-text {
    font-size: 1.15rem;
  }

  .benefit-detail {
    margin: 1rem;
  }

  .grid-benefit-detail {
    margin-top: 1rem;
  }
}